
html, body {
    height: 100%;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: white;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
}

.navigation a {
    color: white;
    text-decoration: none;
}