
html, body {
    height: 100%;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
}